

.jumbotron {
	background-image: url(img/bg-jumbotron.jpg);
	background-size: 100%;
	background-color: black;
	color: white;
	margin-bottom: 180px;
}

#wcu {
	margin-bottom: 50px;
}

.row {
	margin-bottom: px;
}

.kenapa {
	background-color: white;
	margin-bottom: 180px
}

.pembatas {
	background-color: black;
	height: 150px;
	margin-bottom: 350px;
}

.wg {
	margin-bottom: 50px;
}

.tentang {
	color: black;
	margin-bottom: 200px;
}

#about {
	margin-bottom:50px;
}


.linkkontak {
	text-decoration: none;
	color: black;
}
.linkkontak,
.linkkontak:link,
.linkkontak:active,
.linkkontak:visited{
	color: black;
	text-decoration: none;	
}
 
.linkkontak:hover{
	color: grey;
}
footer {
	background-color: black;
	color: white;
	margin-top: 50px;
	padding:25px;
}